references/
venv/
*.ipynb_checkpoints/
*data/

*.Rhistory
homeworks/01_v35n4p9.pdf
homeworks/cdf.png
homeworks/download.png
homeworks/hidden_markov_model.jpg
homeworks/homework_04_Andrea.ipynb
homeworks/homework_04_Simone.ipynb
homeworks/homework_01_solved_Roberto.ipynb
homeworks/homework_02_Roberto.ipynb
homeworks/homework_03_Roberto.ipynb
homeworks/homework_04_Roberto.ipynb
